[Unit]
Description=pik-tg-bot

[Service]
Environment=GO_ENV=production
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/georgri/go/src/pik_tg_bot/pik_tg_bot-app
WorkingDirectory=/home/georgri/go/src/pik_tg_bot/

[Install]
WantedBy=multi-user.target
